# ignore virtual env folder include /env, /env1 , /env2 ...
**/env*

# ignore '/bin' & '/obj' folder for vs project
**/bin/
**/obj/
.vs/**
.vscode/**

# ignore all .pyc, .log files
*.pyc
*.log

**/.idea*
**/.DS_Store
.DS_Store
/social-banking.pyproj
/social-banking.sln
/social-banking.suo
/social-banking.v12.suo
