<section class="content-section" style="top:0;">
    <div class="w-50 float-new-line">
        <article class="panel">
            <header class="panel-header">
                {{ _('Status Statistic') }}
            </header>
            <section class="panel-section">
                <div id="chartdiv-surveys-statistic" class="w-100" style="min-height:437px;position:relative;"></div>
            </section>
        </article>
    </div>

    <div class="w-50 float-right">
        <div class="w-100 float-new-line">
            <article class="panel">
                <header class="panel-header">
                    {{ _('Suppliers Statistic') }}
                </header>
                <section class="panel-section">
                    <div id="chartdiv" class="w-45" style="min-height:192px;position:relative;"></div>
                    <div id="legenddiv" class="w-55" style="position:relative;"></div>
                </section>
            </article>
        </div>
        <div class="w-100 float-new-line">
            <article class="panel">
                <header class="panel-header">
                    {{ _('Systems Statistic') }}
                </header>
                <section class="panel-section">
                    <div id="placeholder-chart-systems-statistic" class="w-45" style="min-height:193px;position:relative;"></div>
                    <div id="placeholder-legend-systems-statistic" class="w-55" style="position:relative;"></div>
                </section>
            </article>
        </div>
    </div>
</section>
