<section class="content-section" style="top:0;">
    <div class="w-50 float-new-line">
        <article class="panel">
            <header class="panel-header">
                {{ _('Status Statistic') }}
            </header>
            <section class="panel-section">
                <div id="chartdiv-surveys-statistic" class="w-100" style="min-height:437px;position:relative;"></div>
            </section>
        </article>
    </div>

    <div class="w-50 float-right">
        <div class="w-100 float-new-line">
            <article class="panel">
                <header class="panel-header">
                    {{ _('Suppliers Statistic') }}
                </header>
                <section class="panel-section">
                    <div id="chartdiv" class="w-45" style="min-height:192px;position:relative;"></div>
                    <div id="legenddiv" class="w-55" style="position:relative;"></div>
                </section>
            </article>
        </div>
        <div class="w-100 float-new-line">
            <article class="panel">
                <header class="panel-header">
                    {{ _('Systems Statistic') }}
                </header>
                <section class="panel-section">
                    <div id="placeholder-chart-systems-statistic" class="w-45" style="min-height:193px;position:relative;"></div>
                    <div id="placeholder-legend-systems-statistic" class="w-55" style="position:relative;"></div>
                </section>
            </article>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // Suppliers statistic
        var data = [];

        "{% for field in suppliers_statistic._fields %}"
        data.push({
            "title": "{{ field }}",
            "value": "{{ suppliers_statistic[field] }}"
        });
        "{% endfor %}"

        var chart = AmCharts.makeChart("chartdiv", {
            "type": "pie",
            "fontSize": 14,
            "colors": ["#00a0df", "#13bb72", "#89d23a", "#fee902", "#f09300"],
            "dataProvider": data,
            "titleField": "title",
            "valueField": "value",
            "labelRadius": 5,
            "radius": "42%",
            "innerRadius": "60%",
            "labelText": "[[title]]",
            "labelsEnabled": false,
            "autoMargins": true,
            "startDuration": 0,
            "allLabels": [{
                "y": "36%",
                "align": "center",
                "text": "{{ suppliers_statistic|sum }}",
                "size": 30,
                "bold": true
            }, {
                "y": "53%",
                "align": "center",
                "text": "Suppliers",
                "size": 12
            }],
            "legend": {
                "position": "right",
                "autoMargins": true,
                "valueText": "[[percents]]% ([[value]])",
                "valueWidth": 100,
                "divId": "legenddiv",
                "align": "center",
                "horizontalGap": 10
            }
        });
    })
</script>

<script>
    $(document).ready(function () {
        // System statistic
        var data = [];

        "{% for item in systems_statistic %}"
        data.push({
            "title": "{{ item.name }}",
            "value": "{{ item.count_suppliers }}"
        });
        "{% endfor %}"

        var chart = AmCharts.makeChart("placeholder-chart-systems-statistic", {
            "type": "pie",
            "fontSize": 14,
            "colors": ["#00a0df", "#13bb72", "#89d23a", "#fee902", "#f09300"],
            "dataProvider": data,
            "titleField": "title",
            "valueField": "value",
            "labelRadius": 5,
            "radius": "42%",
            "innerRadius": "60%",
            "labelText": "[[title]]",
            "labelsEnabled": false,
            "autoMargins": true,
            "startDuration": 0,
            "legend": {
                "position": "right",
                "autoMargins": true,
                "valueText": "[[percents]]% ([[value]])",
                "valueWidth": 100,
                "divId": "placeholder-legend-systems-statistic",
                "align": "center",
                "horizontalGap": 10,
            },
            "allLabels": [{
                "y": "36%",
                "align": "center",
                "text": "{{ systems_statistic|count }}",
                "size": 30,
                "bold": true
            }, {
                "y": "53%",
                "align": "center",
                "text": "Systems",
                "size": 12
            }]
        });
    })
</script>

<script>
    $(document).ready(function () {
        // Status statistic
        var data = [];

        "{% for item in status_statistic %}"
        data.push({
            "category": "{{ item.name }}",
            "value": "{{ item.count_suppliers }}"
        });
        "{% endfor %}"

        var chart = AmCharts.makeChart("chartdiv-surveys-statistic", {
            "type": "serial",
            "colors": ["#00a0df", "#13bb72", "#89d23a", "#fee902", "#f09300"],
            "dataProvider": data,
            "fontSize": 14,
            "legend": {
                "useGraphSettings": false,
                "position": "top"
            },
            "valueAxes": [{
                "integersOnly": true,
                "minimum": -0.5,
                "reversed": false,
                "axisAlpha": 1,
                "gridAlpha": 0.3,
                "dashLength": 2.5,
                "gridCount": 10,
                "position": "left"
            }],
            "startDuration": 0,
            "graphs": [{
                "balloonText": "[[value]] Supplier(s)",
                "bullet": "round",
                "hidden": false,
                "title": "Supplier",
                "valueField": "value",
                "fillAlphas": 0,
                "type": "smoothedLine"
            }],
            "chartCursor": {
                "cursorAlpha": 1,
                "zoomable": false
            },
            "categoryField": "category",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 1,
                "fillAlpha": 0,     // Show horizontal column color
                "fillColor": "#000000",
                "gridAlpha": 0.3,
                "dashLength": 2.5,
                "position": "bottom",
                "labelRotation": 90
            },
            "export": {
                "enabled": true,
                "position": "bottom-right"
            }
        });
    });
</script>