{% extends "layout.html" %}

{% block sidebar %}
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active"><a href="{{ url_for('admin.HomeView:dashboard') }}"><i class="fa fa-tachometer"></i> <span>{{ _('Dashboard') }}</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bullhorn"></i> <span>{{ _('Broadcast Messages') }}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ url_for('admin.BroadcastView:index')}}">{{ _('Messages List') }}</a></li>
            <li><a href="{{ url_for('admin.DynamicTextView:index')}}">{{ _('Dynamic Text') }}</a></li>
            <li><a href="{{ url_for('admin.ImageView:index')}}">{{ _('Image') }}</a></li>
            <li><a href="{{ url_for('admin.VideoView:index')}}">{{ _('Video') }}</a></li>
        </ul>
    </li>
    <li><a href="{{ url_for('admin.HomeView:dashboard') }}"><i class="fa fa-line-chart"></i> <span>{{ _('Broadcast Metrics') }}</span></a></li>
    <li><a href="{{ url_for('admin.HomeView:dashboard') }}"><i class="fa fa-calendar-o"></i> <span>{{ _('Scheduling Broadcasts') }}</span></a></li>
</ul>

{% endblock %}

{% block breadcrumb %}
<section class="content-header">
    <h1>
        {{ _('Dashboard') }}
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('admin.DynamicTextView:index') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{ _('Dashboard') }}</li>
    </ol>
</section>
{% endblock %}
