{% from "_macros/wtforms.html" import render_field, render_form %}

<header class="content-header">
    {{ title }}
</header>
<section class="content-section">
    {% call render_form(form,id="user-form",action_url=url_for('admin.UserView:change_password', id=id), return_url=url_for('admin.UserView:index'), action_text='Save') %}
    {{ render_field(form.name) }}
    {{ render_field(form.old_password) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
    {% endcall %}
</section>
