{% extends "layout.html" %}
{% from "_macros/wtforms.html" import render_field %}

{% block content %}
<div class="login-wrapper">
    <div class="logo">
        <i class="icon"></i>
        <span>E-Water</span>
        <small>survey system</small>
    </div>
    <div class="w-30" style="margin:auto;float:initial;position:relative;top:32px;">
        <form action="{{ url_for('admin.SecurityView:login') }}" method="post">
            {% if error %}
            <div class="error">
                <header class="error-header">
                    Login error
                </header>
                <section class="error-section">
                    {{ error }}
                </section>
            </div>
            {% endif %}
            {{ form.hidden_tag() if form.hidden_tag }}
            {{ form.username }}
            {{ form.password }}
            <button type="submit">{{ _('Login') }}</button>
        </form>
    </div>
</div>
{% endblock %}