<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Broadcast</title>
    <link rel="shortcut icon" href="{{ url_for('admin.static', filename='styles/images/icon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='styles/site.css') }}" />
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='styles/fonts/font-awesome-4.6.3/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='scripts/datetime-picker/jquery.timepicker.css') }}" />
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='scripts/datetime-picker/lib/bootstrap-datepicker.css') }}" />
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='content/bootstrap.min.css') }}" />
    <script src="{{ url_for('admin.static', filename='scripts/jquery.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='scripts/jquery-migrate-1.2.1.min.js') }}"></script>
</head>

<body>
    {% block content %}{% endblock %}

    <!-- Core -->
    <script src="{{ url_for('admin.static', filename='scripts/jquery-ui-1.8.20.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='scripts/jquery.unobtrusive-ajax.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='scripts/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='scripts/jquery.validate.unobtrusive.min.js') }}"></script>
    <!-- AMCharts -->
    <script src="{{ url_for('admin.static', filename='scripts/amcharts-3.19.4/amcharts/amcharts.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='scripts/amcharts-3.19.4/amcharts/serial.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='scripts/amcharts-3.19.4/amcharts/pie.js') }}"></script>
    <!-- Datepicker -->
    <script src="{{ url_for('admin.static', filename='scripts/datetime-picker/jquery.timepicker.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='scripts/datetime-picker/lib/bootstrap-datepicker.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".sidebar-menu a").live("click", function () {
                $(".sidebar-menu a").removeClass("active");
                $(this).addClass("active");
            });

            app = {};

            // waiting & ready
            app.skip_wait = false;
            app.wait = function (text) {
                if (app.skip_wait) {
                    app.skip_wait = false;
                    return;
                }
                if ($("#wait").length == 0) {
                    var display = text || "waiting...";
                    var wait = $('<div id="wait" style="z-index:1000;position:fixed;top:0;right:0;bottom:0;left:0;margin:auto;' +
                                                       'width:140px;height:100px;border:1px solid #ddd;border-radius:4px;' +
                                                       'background:#fff;">' +
                                 '<div class="loader"></div>' +
                                 '<div style="position:absolute;bottom:0;width:100%;text-align:center;padding:8px;">Loading ...</div></div>');
                    $("body").append(wait);
                }
                else {
                    $("#wait").show();
                }
            };
            app.ready = function () {
                $("#wait").hide();
            };
        });
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>