<aside class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a href="{{ url_for('admin.HomeView:dashboard') }}" class="active">
                <i class="fa fa-tachometer"></i>
                <span>{{ _('Dashboard') }}</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('admin.BroadcastView:index') }}">
                <i class="fa fa-tachometer"></i>
                <span>{{ _('Broadcast') }}</span>
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-tachometer"></i>
                <span>{{ _('Metrics') }}</span>
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-tachometer"></i>
                <span>{{ _('Scheduling') }}</span>
            </a>
        </li>
    </ul>
    
</aside>