<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="#"><i class="fa fa-tachometer"></i> <span>{{ _('Dashboard') }}</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bullhorn"></i> <span>{{ _('Broadcast Messages') }}</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">{{ _('Dynamic Text') }}</a></li>
            <li><a href="#">{{ _('Image') }}</a></li>
            <li><a href="#">{{ _('Video') }}</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-line-chart"></i> <span>{{ _('Broadcast Metrics') }}</span></a></li>
    <li><a href="#"><i class="fa fa-calendar-o"></i> <span>{{ _('Scheduling Broadcasts') }}</span></a></li>
</ul>
