{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
    {% block content %}
    {{ container() }}
        {{ row() }}
            {{ col(['s12', 'm12']) }}
                {{ util.card('Login', wtf.quick_form(form) )}}
            {{ enddiv() }}
        {{ enddiv() }}
    {{ enddiv() }}
    {% endblock %}
</body>
</html>